body{
    background-image: url(imagens/img2.jpg);
    background-blend-mode: overlay;
    background-color: rgb(51, 51, 51);
    color: rgb(209, 207, 203);
    background-position: bottom;
    background-attachment: fixed;
}

.img{
    width: 500px;
    height: 250px;
}

main{
    margin: 90px 0;
    text-align: center;
}

#proj-happy{
    padding-bottom: 40px;
}

h1{
    font-size: 23px;
    font-weight: bolder;
}